<div class="container">
    <div class="curved"></div>

    <div class="grap-form">
        <form class="form" [formGroup]="fmGroup" #form>
            <h2>Log in here!</h2>
    
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput [formControlName]="'email'" #email>
                <mat-error *ngIf="!email.required">Email is required</mat-error>
                <mat-error *ngIf="!email.valid">Enter a valid email</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" [formControlName]="'password'">
            </mat-form-field>
    
            <button 
            id="btn-login"
            mat-flat-button 
            color="accent" 
            (click)="onSubmit(fmGroup.value.email,fmGroup.value.password)">LOG IN
                <mat-spinner id="spinner" [mode]="'determinate'" *ngIf="!getToken()" color="primary" diameter=24></mat-spinner>
            </button>
            <span id="sp">Do not have an account? 
                <a routerLink="/register">Rigster Here!</a>
            </span>
        </form>
    </div>
</div>

