<mat-toolbar color="accent">
  <a routerLink='' id="brand">NGUON API</a>
  <span class="white-space"></span>
  <div class="authen">
    <button *ngIf="!isLogin()" 
            mat-stroked-button 
            color="primary" 
            routerLink="login" 
            class="authen-link">LOG IN
    </button>

    <button *ngIf="isLogin()"
            mat-flat-button color="primary" 
            [matMenuTriggerFor]="menu"
            class="authen-link">
            <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="profile()">Profile</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logOut()">Log Out</button>
    </mat-menu>

    <button *ngIf="!isLogin()" 
            mat-flat-button 
            color="primary" 
            routerLink="register" 
            class="authen-link">REGISTER
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>